body{
	background-color: #C0E0DE;
	font-family: 'Lora', serif;
	color: #4F7CAC;
	font-size: 17px;

	}

h1{
	color: #162521;
	font-family: 'Oswald', sans-serif;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 40px;
}

h2{
	font-size: 33px;
	font-weight: lighter;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;

}

a{
	text-decoration: none;
	color: #162521;
	font-weight: bold;
	font-family: 'Oswald', sans-serif
}

a:hover{
	color: #4FA095;
}



ul{

	color: grey;
}



.container{
	width:  800px;
	margin: 40px auto;
}

@media (max-width: 960px) {

	.container {
		width: 800px;
	}
}

@media (max-width: 720px) {

	.container {
		width: 600px;
	}
}

@media (max-width: 540px) {

	.container {
		width: 300px;
	}
}

.card-white{
	background-color: white;
	padding: 50px;
	margin: 30px 0px;
	box-shadow: 0px 10px 30px rgba(0,0,0,.1);
	border-radius: 10px;
	text-align: center;
	padding-top: 20px;
}

.img-circle{
	border-radius: 50%;

}

.btn-blue{
	background-color: #4FA095;
	color: black;
	padding: 15px 20px;
	border-radius: 10px;
}

.btn-blue:hover{
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;

}

.list-inline li{
	display:inline;
	padding: 10px;
}

.list-inline i{
	font-size: 40px;
	color: #4F7CAC
}

.list-inline i: hover {
	color: black
}

#intro p {
	margin-bottom: 40px;
}