body{
	background-color: #C0E0DE;
	font-family: 'Lora', serif;
	color: #4F7CAC;
	font-size: 17px;

	}

h1{
	color: #162521;
	font-family: 'Oswald', sans-serif;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 40px;
}

h2{
	font-size: 33px;
	font-weight: lighter;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;

}

a{
	text-decoration: none;
	color: #162521;
	font-weight: bold;
	font-family: 'Oswald', sans-serif
}

a:hover{
	color: #4FA095;
}



ul{

	color: grey;
}

.container{
	width:  1500px;
	margin: 40px auto;
}

@media (max-width: 960px) {

	.container {
		width: 800px;
	}
}

@media (max-width: 720px) {

	.container {
		width: 600px;
	}
}

@media (max-width: 540px) {

	.container {
		width: 300px;
	}
}

.card-white{
	flex: 1;
	background-color: white;
	padding: 50px;
	box-shadow: 0px 10px 30px rgba(0,0,0,.1);
	border-radius: 10px;
	text-align: center;
	margin-left: 20px;
}

.heap{
	display: flex;
	background-color: white;
	padding: 50px;
	margin: 30px 0px;
	box-shadow: 0px 10px 30px rgba(0,0,0,.1);
	border-radius: 10px;
	padding-top: 20px;
}

.heap2{
	display: flex;
	padding: 50px;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.img-circle{
	border-radius: 10px;
	align-content: flex-end;
}
	
.btn-blue{
	background-color: #4FA095;
	color: black;
	padding: 15px 20px;
	border-radius: 10px;
}

.btn-blue:hover{
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;

}

.list-inline li{
	display:inline;
	padding: 10px;
}

.list-inline i{
	font-size: 40px;
	color: #162521;
}

#intro p {
	margin-bottom: 40px;
}

.column {
	flex: 1;
}

.footer-basic {
	padding:40px 0;
	background-color:#ffffff;
	color:#4F7CAC;
  }
  
  .footer-basic ul {
	padding:0;
	list-style:none;
	text-align:center;
	font-size:18px;
	line-height:1.6;
	margin-bottom:0;
  }
  
  .footer-basic li {
	padding:0 10px;
	color:#162521;
  }
  
  .footer-basic ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.8;
  }
  
  .footer-basic ul a:hover {
	opacity:1;
  }
  
  .footer-basic .social {
	text-align:center;
	padding-bottom:25px;
  }
  
  .footer-basic .social > a {
	font-size:24px;
	width:40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	border:1px solid #ccc;
	margin:0 8px;
	color:inherit;
	opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
	opacity:0.9;
  }
  
  .footer-basic .copyright {
	margin-top:15px;
	text-align:center;
	font-size:13px;
	color:#4F7CAC;
	margin-bottom:0;
  }